<html>
  <head>
    <title>Exercises</title>
    <style>

    </style>
  </head>
  <body>
    <div>
      <a href="/Ex01component">Exercise 1</a><br>
      <a href="/Ex02component">Exercise 2</a><br>
      <a href="/Ex03component">Exercise 3</a><br>
      <a href="/Ex04component">Exercise 4</a><br>
      <a href="/Ex05component">Exercise 5</a><br>
      <a href="/Ex06component">Exercise 6</a><br>
      <a href="/Ex07component">Exercise 7</a><br>
      <a href="/Ex08component">Exercise 8</a><br>
      <a href="/Ex09component">Exercise 9</a><br>
      <a href="/Ex10component">Exercise 10</a>

    </div>

  <router-outlet></router-outlet>
  </body>
</html>
